<table class="table table-striped table-hover mt-4">
    <thead>
        <tr></tr>
        <tr>
            <th> </th>
            <th>Post Budget Old Regime</th>
            <th>Post Budget New Regime</th>
        </tr>

    </thead>

    <tbody>
        <tr>
          <td>Total Income</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Exemptions and Deductions</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Taxable Income</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td>Tax due on above</td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
</table>