<div class="container  custom-container">
    <div class="row">
        <div class="col">
            <p><strong>Basic deductions 80C</strong></p>
            <input type="number" name="salary" id="" class="form-control">
        </div>
        <div class="col">
            <p><strong>Medical insurance 80D</strong></p>
            <input type="number" name="exempt-allowance" id="" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><strong>Interest from Deposits - 80TTB </strong></p>
            <input type="number" name="interest" id="" class="form-control">
        </div>
        <div class="col">
           <p><strong>Donations to Charity - 80G</strong></p>
            <input type="number" name="home-loan" id="" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><strong>Interest on Educational Loan - 80E</strong></p>
            <input type="number" name="rent" id="" class="form-control">
        </div>
        <div class="col">
            <p><strong>Interest on Housing Loan - 80EEA</strong></p>
            <input type="number" name="interest-home-loan" id="" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><strong>Employee's contribution to NPS - 80CCD</strong></p>
            <input type="number" name="digital-assets" id="" class="form-control">
        </div>
    </div>
    <br><br>
    <button class="btn btn-success btn-sm" (click)="goToSummaryTab.emit()">
        Calculate
    </button>
</div>
